In [2]:
mystr=('Happy'
       'Monday'
       'Everyone')
print(mystr)

HappyMondayEveryone

In [4]:
str1='HELLO PHYTHON'

In [5]:
str1[-4:]

'THON'

In [6]:
str1[6:12]

'PHYTHO'

In [7]:
str1[-6:]

'HYTHON'

In [8]:
str1[:4]

'HELL'

In [9]:
str1[:6]

'HELLO '

In [10]:
str1

'HELLO PHYTHON'

In [12]:
del str1
print(str1)

NameError: name 'str1' is not defined

In [13]:
s1="Hello"
s2="Asif"
s3=s1+s2
print(s3)

HelloAsif

In [16]:
str1='hello world'
for i in enumerate(str1):
    print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'w')
(7, 'o')
(8, 'r')
(9, 'l')
(10, 'd')

In [17]:
mystr1="Hello Everyone"
print('Hello' in mystr1)
print('Everyone' in mystr1)

True
True

In [26]:
str5="Natural language processing with python and R and Java"
l=str5.Rpartition("and")
print(l)

AttributeError: 'str' object has no attribute 'Rpartition'

In [25]:
str5="Natural language processing with python and R and Java"
l=str5.rpartition("and")
print(l)

('Natural language processing with python and R ', 'and', ' Java')

In [29]:
mystr2="**************Hello Everyone********** All the Best*******"

In [30]:
mystr2="Hello Everyone"

In [31]:
mystr2.lower()

'hello everyone'

In [32]:
mystr2.upper()

'HELLO EVERYONE'

In [33]:
mystr2.replace("","")

'Hello Everyone'

In [36]:
item1=40
item2=55
item3=77
print("cost ofitem1,item2 and item3 are {},{} and{}". format(item1,item2,item3))

cost ofitem1,item2 and item3 are 40,55 and77

In [40]:
item1=40
item2=55
item3=77
print"cost ofitem3,item2 and item1 are {2},{1} and{0}"
print(res.format(item1,item2,item3))

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (4235816377.py, line 4)

In [41]:
str2="WELCOME EVERYONE"
str2=str2.center(100)
print(str2)

                                          WELCOME EVERYONE

In [42]:
str2="WELCOME EVERYONE"
str2=str2.center(100,'*')
print(str2)

******************************************WELCOME EVERYONE******************************************

In [44]:
str2="WELCOME EVERYONE"
str2=str2.rjust(50,'*')
print(str2)

**********************************WELCOME EVERYONE

In [45]:
mystr6='123456789'
print(mystr6.isalpha())
print(mystr6.isalnum())
print(mystr6.isdecimal())
print(mystr6.isnumeric())

False
True
True
True

In [48]:
str6="one two three four one two two three five six one ten eight ten nine"
loc=str6.rfind("one")
print(loc)

46

46

In [1]:
# python-Dictionary

#the dictionary is an unordered collection that contains key;value pairs
#separated by commas in side culy brackets.Dictionaries are optimized to retrieve values when the key is known.
#the following declares a dictionary object.

In [2]:
#capital={"USA":WashingtonD.C.","France":"parise","India":"New Delhi"}
#print(type(capitals))

In [5]:
d={{}
   num Name={1:"One",2:"Two"<3: Three}

SyntaxError: '{' was never closed (2509910258.py, line 1)

In [3]:
# a dictionary can also be created using the dict() constructor method.
#example: dict() constructor method

emptydict=dict()
print(emptydict)

{}

In [4]:
numdict=dict(I="one",II="Two",III="Three")
print(numdict)

{'I': 'one', 'II': 'Two', 'III': 'Three'}

In [5]:
numdict=dict((('I','one'),('II','two'),('III','three')))
print(numdict)

{'I': 'one', 'II': 'two', 'III': 'three'}

In [6]:
# access dictionary
#dictionary is an unordered collection, so a value cannot be accessed using 
#an index; instead, a key must be specified in the square brackets, as show below.

In [7]:
numNames={1:"One",2:"Two",3:"Three"}
print(numNames[1],numNames[2],numNames[3],)

One Two Three

In [10]:
capitals={"USA":"Washington DC","France":"Paris","India":"New Delhi"}
print(capitals["USA"],capitals["France"],)

Washington DC Paris

In [11]:
#following throws an keyerror
#print(capital["usa"]
#print(capitals["japan"])

In [13]:
#use the get () method to retrieve the key's value even if key are not know. it returns none if the key does not exist instead of raising an error.

x={1:"one",2:"Two",3:"Three"}
print(x.get(1),x.get(2),x.get(4))

one Two None

In [15]:
# dictionary threow for loop.

d1={'a':123,'b':345,'c':567,'d':789}
print(d1)

{'a': 123, 'b': 345, 'c': 567, 'd': 789}

In [17]:
d1={'a':123,'b':345,'c':567,'d':789}
print(d1)
for i in d1:
    print(i,end="")

{'a': 123, 'b': 345, 'c': 567, 'd': 789}
abcd

In [19]:
for i in d1. values():
    print(i,end="")

123345567789

In [20]:
for i,j in d1.items():
    print((i,j),end="")

('a', 123)('b', 345)('c', 567)('d', 789)

In [23]:
# update dictionary
# as mentioned earlier, then key cannot appear more than once.
#use the same key and assign a new value to it to update the dictionary object.


d1={'a':123,'b':345,'c':567,'d':789}
d1['c']="Daksh"
print(d1)

# same key then update.
#different key then add.

{'a': 123, 'b': 345, 'c': 'Daksh', 'd': 789}

In [24]:
d1['e']="preet"
print(d1)

{'a': 123, 'b': 345, 'c': 'Daksh', 'd': 789, 'e': 'preet'}

In [25]:
#deleting valuesfrom a dictionary
#use the del keyward, pop(), or popitem() method to delete a pair from a 
#dictionary or the dictionary object itself, to delete a pair, use its key 
#as a parameter. to delete a dictionary object itself, use del dictionary name.

d1={'a':123,'b':345,'c':567,'d':789}
del d1['b']
print(d1)

{'a': 123, 'c': 567, 'd': 789}

In [26]:
d1={'a':123,'b':345,'c':567,'d':789}
print(d1.pop('b'))
print(d1)

345
{'a': 123, 'c': 567, 'd': 789}

In [27]:
d1={'a':123,'b':345,'c':567,'d':789}
d1.popitem()
print(d1)
d1.popitem()
print(d1)

{'a': 123, 'b': 345, 'c': 567}
{'a': 123, 'b': 345}

In [6]:
d1={'a':123,'b':345,'c':567,'d':789}
d1 #delete complete dictionary
print(d1)

{'a': 123, 'b': 345, 'c': 567, 'd': 789}

In [10]:
mydict={1:'one',2:'two','A':{Name:'preet',Age':20},'B':(Bat,cat,hat)}
mydict

SyntaxError: unterminated string literal (detected at line 1) (1663406816.py, line 1)

In [1]:
#multi- dictional dictionary lets assume there are three dictionary objects, as below:

d1={"name":"Steve","age":25,"marks":60}
d2={"name":"Anil","age":23,"marks":75}
d3={"name":"Asha","age":20,"marks":70}

In [2]:
students={1:d1,2:d2,3:d3}
print(students)

{1: {'name': 'Steve', 'age': 25, 'marks': 60}, 2: {'name': 'Anil', 'age': 23, 'marks': 75}, 3: {'name': 'Asha', 'age': 20, 'marks': 70}}

In [3]:
print(students[1])
print(students[2])
print(students[3])

{'name': 'Steve', 'age': 25, 'marks': 60}
{'name': 'Anil', 'age': 23, 'marks': 75}
{'name': 'Asha', 'age': 20, 'marks': 70}

In [41]:
# dictionary methods
#python Dictionary clear()
#the dict.clear() method removes all the kay-value pair from the dictionary.

#syntax:
#dict.clear()

In [9]:
romanNums={'I':1,'ii':2,'III':3,'IV':4,'V':5}
print("DICTIONARY:",romanNums)

DICTIONARY: {'I': 1, 'ii': 2, 'III': 3, 'IV': 4, 'V': 5}

In [10]:
#ronamNums.clear()
#print(" dictionary after calling clear() method:", ronamNums)
#python dictionary copy()
#the dict.copy() method return a shallow copy of the dictionary.
# the dictionary can also be copied using the

In [14]:
d1={'a':123,'b':345,'c':567,'d':789}
d2=d1
print(d1)
print(d2)
d2.clear()
print(d1)
print(d2)

{'a': 123, 'b': 345, 'c': 567, 'd': 789}
{'a': 123, 'b': 345, 'c': 567, 'd': 789}
{}
{}

In [15]:
d1={'a':123,'b':345,'c':567,'d':789}
d2=d1.copy()
print(d1)
print(d2)
d2.clear()
print(d1)
print(d2)

{'a': 123, 'b': 345, 'c': 567, 'd': 789}
{'a': 123, 'b': 345, 'c': 567, 'd': 789}
{'a': 123, 'b': 345, 'c': 567, 'd': 789}
{}

In [37]:
# python dictionary fromkeys()
# the dict.fromkeys()method creats a new dictionary from the given iterable
#( string,list,set,tuple) as keys and with the specified value.
#syntax:
#dictionary.fromkeys(sequence, value)

In [23]:
keys={'Mumbai'',Bangalorer','Chicago','New York'}
value='city'
dictionary=dict.fromkeys(keys,value)
print(dictionary)

{'New York': 'city', 'Mumbai,Bangalorer': 'city', 'Chicago': 'city'}

In [24]:
keys={'Mumbai'',Bangalorer','Chicago','New York'}
value='city'
dictionary=dict.fromkeys(keys,)
print(dictionary)

{'New York': None, 'Mumbai,Bangalorer': None, 'Chicago': None}

In [38]:
#python dictionary items()
# the dict.iteams() returns a dictionary view object that provides a dynamic views od dictionary elementa as a list of keys-values pairs. the view object change when the dictionary changes.

#syntax:
#dict.items()

In [26]:
romanNums={'I':1,'II':2,'III':3,'IV':4}
dictview= romanNums. items()
print(dictview)

dict_items([('I', 1), ('II', 2), ('III', 3), ('IV', 4)])

In [39]:
#pythons dictionary keys()
# the dict.keys() method returns a dictionary view object that contains the list of leys of the dictionary.
#syntax:
#dict.keys()

In [28]:
romanNums={'I':1,'II':2,'III':3,'IV':4,'V':5}
keys=romanNums.keys()
print(keys)

dict_keys(['I', 'II', 'III', 'IV', 'V'])

In [29]:
#python dictionary update() method
# the dict.update() method updates the dictionary eith the keys-values pairs from another dictionary or another iterable such as tuple having key-value pairs.

#syntax:
#dict.update(iterable)

In [32]:
x={'I':1,'III':3,'V':5}
print("dictionary:",x)

dictionary: {'I': 1, 'III': 3, 'V': 5}

In [34]:
y={'II':2,'IV':4}
x.update(y)
print("update dictionary:",x)

update dictionary: {'I': 1, 'III': 3, 'V': 5, 'II': 2, 'IV': 4}

In [35]:
# python dictionary values()
# the dict.value method returns the dictionary view object that provides a dynamic view of all thw values in the dictionary. this view object changes when the dictionary changes.

#syntax:
#dict.values()

In [36]:
romanNums={'I':1,'II':2,'III':3,'IV':4,'V':5}
values=romanNums.values()
print(values)

dict_values([1, 2, 3, 4, 5])

In [43]:
keys={'a','b','c','d'}
mydict3=dict.fromkeys(keys)
mydict3

{'b': None, 'a': None, 'c': None, 'd': None}

In [45]:
keys={'a','b','c','d'}
value=10
mydict3=dict.fromkeys(keys,value)
mydict3

{'b': 10, 'a': 10, 'c': 10, 'd': 10}

In [46]:
keys={'a','b','c','d'}
value=[10,20,30]
mudict3=dict.fromkeys(keys,value)
mudict3

{'b': [10, 20, 30], 'a': [10, 20, 30], 'c': [10, 20, 30], 'd': [10, 20, 30]}

In [47]:
value.append(40)
mudict3

{'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}